{% extends "layout.html" %}
{% block body %}

<div class="allbox">
<div>
  <h1>Song Explore! - About</h1>
  <p>Song Explore recommends songs that should sound/feel similar to the selected song(s) based on groupings of various sound features via k-means clustering.</p>
</div>
</div>

<footer class="footer">
  <p><a href="{{ url_for('index') }}">Back to Song Explore</a></p><p><a target="_blank" href="http://trishaandrews.com/">Trisha Andrews </a>&nbsp;&nbsp;<a target="_blank" href="https://github.com/trishaandrews/songexplore"> app code </a>&nbsp;&nbsp;<a target="_blank" href="https://github.com/trishaandrews/music_explorer"> cluster code</a></p>
</footer>

{% endblock %}
